@* Simple index view with welcoming text and an image *@

@{
    ViewData["Title"] = "DM Bookstore";
}

<div class="text-center">
    <h1 class="display-4">DM Bookstore</h1>
    <p>Best prices you can find online!</p>
    <img src="~/images/bookstore.jpeg" style="width:50rem;"/>
</div>
